<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/daf8c554e7.js" crossorigin="anonymous"></script>
    <title>Main</title>
    <link rel="stylesheet" href="src/estilos.css">
    <link rel="shortcut icon" href="./src/assets/img/Logo academia.png" type="image/png">
    <script src="src/script.js"></script>
</head>
<body>

    <button class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </button>
    
    <div class="sidebar">
        <div class="close-btn">&times;</div>
        <nav class="sidebar-links">
            <a href="indiano.html" class="sidebar-link"><i class="fa-solid fa-receipt"></i></i>Información</a>
            <a href="galery.html" class="sidebar-link"><i class="fa-solid fa-clapperboard"></i>Galeria</a>
            <a href="creator.html" class="sidebar-link"><i class="fa-solid fa-clapperboard"></i>Creadores</a>
        </nav>
    </div>
    <div class="sidebar-overlay"></div>



    <nav>
        <div class="nav-content">
            <div class="logo"><img src="src/assets/img/Logo academia.png" alt="Logo MTC" class="Logo-Promo"></div>
            <div class="nav-links">
                <a href="indiano.html" class="nav-link">Información</a>
                <a href="galery.html" class="nav-link">Galeria</a>
                <a href="creator.html" class="nav-link">Profesores</a>
            </div>
        </div>
    </nav>
    
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1><i class="fa-thin fa-receipt"></i>Info School</h1>
                <p>Somos la academia de informatica mas grande de Venezuela, formamos programadores en lenguajes como Python, Java, JavaScript y lenguajes webs</p>

                <!--Esta en veremos
                <a href="indiano.html" class="cta-button">Explorar ahora</a>
                -->

            </div>
        </section>

        <!-- Cursos Destacados -->
        <section class="featured">
            <h2 class="section-title">Cursos destacados</h2>
            <div class="promo-grid">
                <article class="promo-card">
                    <img src="https://skillicons.dev/icons?i=python" class="logo-courses">
                    <div class="promo-info">
                        <h3>Curso de Python</h3>
                        <p>En este curso de cero a intermedio aprenderas sobre la sintaxis de Python y finalizaras aprendiendo Programacion Orientada a Objectos.</p>
                        <!-- <footer>Empieza el dia 28 de Septiembre del 2025</footer> -->
                    </div>
                </article>

                <article class="promo-card">
                    <img src="https://skillicons.dev/icons?i=react" class="logo-courses">
                    <div class="promo-info">
                        <h3>Curso de JavaScript(React)</h3>
                        <p>En este curso de cero a avanzado aprenderas sobre aplicaciones webs y moviles usando React</p>
                    </div>
                </article>

                <article class="promo-card">
                    <img src="https://skillicons.dev/icons?i=django" class="logo-courses">
                    <div class="promo-info">
                        <h3>Curso de Python Avanzado (Django)</h3>
                        <p>Conversatorio realizado el dia jueves 29 de junio</p>
                    </div>
                </article>
            </div>
        </section>

        <!-- Todos los cursos -->
        <section class="featured">
            <h2 class="section-title">Todos los cursos</h2>
            <div class="promo-grid">

                <article class="promo-card">
                    <img src="https://skillicons.dev/icons?i=python" class="logo-courses">
                    <div class="promo-info">
                        <h3>Curso de Python</h3>
                        <p>En este curso de cero a intermedio aprenderas sobre la sintaxis de Python y finalizaras aprendiendo Programacion Orientada a Objectos.</p>
                        <!-- <footer>Empieza el dia 28 de Septiembre del 2025</footer> -->
                    </div>
                </article>

                <article class="promo-card">
                    <img src="https://skillicons.dev/icons?i=django" class="logo-courses">
                    <div class="promo-info">
                        <h3>Curso de Python Avanzado (Django)</h3>
                        <p>Conversatorio realizado el dia jueves 29 de junio</p>
                    </div>
                </article>

                <article class="promo-card">
                    <img src="https://skillicons.dev/icons?i=tensorflow" class="logo-courses">
                    <div class="promo-info">
                        <h3>Curso de desarrollo con IA (Python)</h3>
                        <p>Conversatorio realizado el dia jueves 29 de junio</p>
                    </div>
                </article>

                <article class="promo-card">
                    <img src="https://skillicons.dev/icons?i=mysql,mongodb" class="logo-courses">
                    <div class="promo-info">
                        <h3>Curso de Bases de datos</h3>
                        <p>Conversatorio realizado el dia jueves 29 de junio</p>
                    </div>
                </article>

                <article class="promo-card">
                    <img src="https://skillicons.dev/icons?i=git,github" class="logo-courses">
                    <div class="promo-info">
                        <h3>Curso de Introduccion a Git y GitHub</h3>
                        <p>Conversatorio realizado el dia jueves 29 de junio</p>
                    </div>
                </article>

                <article class="promo-card">
                    <img src="https://skillicons.dev/icons?i=html,css,js" class="logo-courses">
                    <div class="promo-info">
                        <h3>Curso de Frontend (HTML, CSS, JavaScript)</h3>
                        <p>En este curso de cero aprenderas a crear paginas webs interractivas</p>
                    </div>
                </article>

                <article class="promo-card">
                    <img src="https://skillicons.dev/icons?i=react" class="logo-courses">
                    <div class="promo-info">
                        <h3>Curso de JavaScript Avanzado (React)</h3>
                        <p>En este curso de cero a avanzado aprenderas sobre aplicaciones webs y moviles usando React</p>
                    </div>
                </article>

            </div>
        </section>

    </main>

    <footer>
        <div class="footer-content">
            <div class="redes-sociales">
                <a href="https://www.instagram.com/promoviiimtc" class="social-link" target="_blank" rel="noopener">
                    <img src="src/assets/img/Instagram.png" alt="Instagram">
                </a>
            </div>
            <img src="src/assets/img/Logo-Promo.jpeg" alt="" width="90">
            <p class="copyright">&copy; 2025 Promoción VIII MTC. Todos los derechos reservados.</p>
        </div>
    </footer>


</body>
</html>