<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="uifff">
    <title>Proyecto</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="src/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!--Fuente Playwrite DK Loopet-->
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Playwrite+DK+Loopet:wght@100..400&display=swap" rel="stylesheet">

</head>
<body>
    <header class="encabezado-principal">
        <h1 style="font-family: 'Cascadia Mono', sans-serif;">"ESCUELA-FAMILIA-COMUNIDAD EN LA ERA DIGITAL CONTEMPORÁNEA: UNA PROPUESTA DE INTERVENCIÓN SOCIO-EMOCIONAL PARA LA CONVIVENCIA Y LA PAZ"</h1>
        <p class="republica" style="font-family: 'Playwrite DK Loopet', cursive";>República Bolivariana de Venezuela</p>
        <p class="subtitulo">Ministerio del Poder Popular</p>
        <p class="subtitulo">Maturín, Edo. Monagas</p>
        <img src="src/assets/img/Logo.jpeg" alt="Arte digital de la promo">
    </header>

    <nav class="navegacion-principal" aria-label="Navegación principal">
        <ul class="lista-navegacion">
            <li><a href="#info" class="boton-navegacion">Conócenos</a></li>
            <li><a href="#objetivos" class="boton-navegacion">Proyectos</a></li>
            <li><a href="#redaccion" class="boton-navegacion">Redacciones</a></li>
        </ul>
    </nav>

    <main>
        <section id="info" aria-labelledby="titulo-info">
            <h2 id="titulo-info">Sobre nosotros</h2>
            
            <article aria-labelledby="quienes-somos">
                <h3 id="quienes-somos">¿Quiénes somos?</h3>
                <p>Hola</p>

                <img src="src/assets/img/Blender.png" alt="Imagen de prueba#1">

                <p>Hola</p>
                
            </article>

            <article aria-labelledby="nuestra-institucion">
                <h3 id="nuestra-institucion">Nuestra institución</h3>
                <p>Hola</p>

                <img src="src/assets/img/Blender1.png" alt="Imagen de prueba#2">


            </article>
        </section>


        <section id="objetivos" aria-labelledby="titulo-objetivos">
            <h2 id="titulo-objetivos">Objetivos realizados</h2>
            <article aria-labelledby="objetivo-1">
                <h3 id="objetivo-1">Conversatorio sobre la serie <em>“Adolescencia”</em> cautiva a la comunidad en la U.E.P. <strong>“Madre Teresa de Calcuta” Monagas</strong></h3>
                <p>La mañana del jueves, 29 de junio, se celebró en las instalaciones de la institución el conversatorio sobre la serie “Adolescencia”; actividad organizada y ejecutada por los estudiantes partícipes del proyecto socio-comunitario del colegio, el cual procura atender los impactos de las redes sociales en la vida pública, tomando en cuenta la tríada escuela-famili-comunidad como contexto de acción e interacción.</p><br>

                <p>La velada académica convocó a la comunidad intra y extra-escolar para abordar el tema contenido en la teleserie de la plataforma Netflix y los panelistas fueron los mismos estudiantes, quienes tras la formulación de unos análisis críticos y divergentes, compartieron sus impresiones en torno a la producción, haciendo las extrapolaciones con la realidad actual del colegio, la localidad y el panorama mundial.</p><br>

                <p>En dicha actividad, el ambiente académico fue la excusa perfecta para exponer situaciones que representan interés de los jóvenes y adultos, padres y representantes sobre el valor de la convivencia humana de modo presencial, a fin de garantizar que cualquier situación disruptiva que atente contra la paz mental de las personas, debe hablarse en el seno del hogar y el aula para conseguir soluciones entre padres, maestros y compañeros.</p>

                <img src="src/assets/img/Blender2.png" alt="Imagen de prueba#3">
            </article>

        </section>

        <section id="redaccion">
            <h2 id="titulo-redacciones">Bullying digital</h2>

            <article>
                <h3>La IA la nueva herramienta del Ciber-acoso</h3>
                <p>En 2025 la Inteligencia Artificial se ha convertido en una herramienta de uso común en nuestras vidas ya sea a nivel empresarial o si eres estudiante pedirle a tu IA favorita que te ayude a hacer alguna tarea. Sin embargo, estas herramientas ahora están siendo usadas para el Bullying digital o Ciber-acoso.</p><br>
                <img src="src/assets/img/Goku-ultra-instinto." alt="">
                <p>Las herramientas generación de imágenes y videos con inteligencia artificial es una función de la IA bastante divertida y absurda, ya que podemos generar videos de todo tipo aunque cuando estas tecnologías caen en manos de acosadores pueden resultar en un bullying muchísimo mayor que el verbal. El internet puede almacenar información permanente ahí también entra las redes sociales que pueden ser puentes para este acoso. Un ejemplo de la vida real puede ser que una chica de 16 años publique una foto suya a Instagram y un grupo de chicos de su edad agarren esa foto y la usen para humillarla o no solo chicos de su edad sino personas de más edad que pueden usar esa foto para fines más oscuros.</p>

            </article>
        </section>
    </main>

    
    <footer>
        <div class="footer-content">
            <div class="redes-sociales">
                <a href="https://www.instagram.com/promoviiimtc" class="social-link" target="_blank" rel="noopener">
                    <img src="src/assets/img/Instagram.png" alt="Instagram">
                </a>
            </div>
            <img src="src/assets/img/Logo-Promo.jpeg" alt="" width="90">

            <img src="src/assets/img/" alt="">
            <p class="copyright">&copy; 2025 Promoción VIII MTC. Todos los derechos reservados.</p>
        </div>
    </footer>


</body>
</html>