<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botoncito</title>
    <link rel="stylesheet" href="src/styles.css">
</head>
<body>
    <div class="dark-mode">
        <div class="circle">
            <ion-icon class="sun" name="sunny"></ion-icon>
            <ion-icon class="moon" name="moon"></ion-icon>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="src/java.js"></script>
</body>
</html>